nav {
    background-color: black;
    color: aliceblue !important;

}

/* html {
    background-color: black;
    color: aliceblue !important;

}
#root {
    background-color: black;
    color: aliceblue !important;

} */


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fondo negro completamente opaco */
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.popup-content {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

.popup-image {
    min-width: 400px;
    width: 50%;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup-overlay.fade-out {
    opacity: 0;
}

/* Initially show the logo */
.logo {
    display: block;
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Hide the logo when the header collapses */
@media (max-width: 991px) {
    .logoMid {
        display: none;
    }
}

@media (min-width: 991px) {
    .logoleft {
        display: none;
    }
}


nav a { 
    color: aliceblue !important;
    padding-left: 20px;
}

h1{
    font-family: "Times New Roman", Times, serif ;
}

.card-title{
    font-family: "Times New Roman", Times, serif;
    color: #919191;
}

.card-img-top{
    padding: 20px;
    
}

.card{
    border: none;
    background-color: #eeeeee;
    margin: 20px;
}

.icoEsp{
    height: 20vh;
}